:root {
  /* CSS HSL */
  --jet: hsla(0, 0%, 21%, 1);
  --caribbean-current: hsla(183, 31%, 34%, 1);
  --white: hsla(0, 0%, 100%, 1);
  --platinum: hsla(0, 0%, 85%, 1);
  --indigo-dye: hsla(204, 42%, 27%, 1);
}
* {
  margin: 0;
}
body {
  background-color: var(--platinum);
}
ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.app__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.todo__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.todo__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 500px;
}

.todo__actions {
  display: flex;
}
.completed {
  text-decoration: line-through;
}
.filter__container {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
}
.form__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 300px;
}

.form__title {
  color: var(--jet);
  font-size: 1.2rem;
}

form div {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.statistics__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.4rem;
}

.statistics__container div {
  display: flex;
  justify-content: space-between;
}

.statistics__progress {
  min-width: 100%;
}
.fixed-right {
  position: fixed;
  top: 80px;
  right: 50px;
}

.fixed-left {
  position: fixed;
  top: 80px;
  left: 50px;
}
