* {
  box-sizing: border-box;
  margin: 0;
}
html {
  height: 100vh;
}
body {
  min-height: 100%;
  font-family: "Lucida Sans";
}

ul,
ol {
  padding: 0;
}
.flow > * + * {
  padding-top: 1rem;
}
body {
  padding: 0.5rem;
}
header {
  background-color: #04aa6d;
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
main {
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
}
ul {
  display: grid;
  gap: 0.2rem;
  list-style-type: none;
}
li {
  padding: 0.5rem;
  border: 1px solid #d4d4d4;
  border-radius: 0.5rem;
  background-color: #f1f1f1;
  font-weight: bold;
}
.selected {
  background-color: #04aa6d;
  color: white;
}
.nav {
  min-width: 150px;
}
.content {
  padding-block: 1rem;
}
aside {
  background-color: #32a4e7;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: white;
  padding-block: 1rem;
}
footer {
  padding: 0.5rem;
  text-align: center;
  border: 1px solid #d4d4d4;
  background-color: #f1f1f1;
  border-radius: 0.5rem;
}
