* {
  box-sizing: border-box;
  margin: 0;
}
html,
body {
  height: 100%;
  background-color: #88d0e6;
}
main {
  background-color: #88d0e6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
#userName {
  width: auto;
  height: 40px;
  border-radius: 0.5rem;
  border: 1px solid black;
  text-align: center;
}
#board,
#history {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card {
  display: flex;
  gap: 1rem;
  background-color: aliceblue;
  padding: 1rem;
  justify-content: space-between;
  border-radius: 0.5rem;
}
.input-content {
  display: flex;
  gap: 0.5rem;
}
input {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid black;
  text-align: center;
}
.result-content {
  flex-grow: 1;
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

#numpad {
  display: flex;
  gap: 0.5rem;
}

button {
  background-color: white;
  border: 1px solid grey;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
