body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.todo__card {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  align-items: center;
}

.completed {
  text-decoration: line-through;
}

form {
  display: flex;
  padding: 1rem;
  gap: 1rem;
}
